body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  color: #222;
  text-align: center;
  background-image: url("/bg.jpg");
  background-size: cover;       
  background-position: center;  
  background-attachment: fixed; 
}
